@typeparam TModel where TModel : IEntityWithName

@* si estamos navegando y me quiero ir, primero que aplique este metodo (OnBeforeInternalNavigation) *@
<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

@* Agregamos el contexto al formulario y qué debe hacer cuando esté terminado*@
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    @* acá se pintan los errores de las data anotation del Shared*@
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>@Label</label>
        <div>
            <InputText class="form-control" @bind-Value="@Model.Name"></InputText> @*bind me relaciona el campo *@
            <ValidationMessage For="@(() => Model.Name)"></ValidationMessage> @*activamos las validaciones cobre el campo Country.Name*@
        </div>
    </div>

    @*botones de guardar y volver*@
    <button class="btn btn-primary" type="submit">Guardar cambios</button>  @*este dispara el onValidSumit*@ 
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button> @*este dispara el returAction de CountryForm*@

</EditForm>
