<div class="d-flex justify-content-center align-items-center">
    <img src="https://assets-v2.lottiefiles.com/a/91cc0ece-1150-11ee-b7cb-d3afb5c0c001/QNF78Uk4YE.gif" height="640" width="640" />

</div>