@page "/states/create/{CountryId:int}"
<h3>Crear Estado / Departamento</h3>

<FormWithName @ref="stateForm" label="Estado / Departamento:" Model="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />